<ul>
  <li>Round: <%= @results[:round] %></li>
  <li>Total: <%= @results[:total] %></li>
  <li>Correct: <%= @results[:correct] %></li>
  <li>Incorrect: <%= @results[:incorrect] %></li>
  <li>Percentage correct: <%= @results[:correct] / @results[:incorrect] %>%</li>
</ul>

