<div class="container">
  <div id="results">
    <h1>Your results for all rounds are: </h1>
    <div class="list_everything">
      <% @results.each do |result| %>
        <ul>
          <li>Deck: <%= result[:deck_name] %></li>
          <li>Round: <%= result[:round] %></li>
          <li>Total Cards: <%= result[:total] %></li>
          <li>Correct: <%= result[:correct] %> (<%= result[:percent_correct] %>%)</li>
          <li>Incorrect: <%= result[:incorrect] %> (<%= result[:percent_incorrect] %>%)</li>
        </ul>
      <% end %>
    </div>
    <div>
      <p><a href= '/decks' >Play</a></p>
    </div>
  </div>
</div>

