<html>

<ul>
  <li>Round: <%= @results[:round] %></li>
  <li>Total: <%= @results[:total] %></li>
  <li>Correct: <%= @results[:correct] %> (<%= @results[:percent_correct] %>%)</li>
  <li>Incorrect: <%= @results[:incorrect] %> (<%= @results[:percent_incorrect] %>%)</li>
</ul>

