<div class="container">
  <h1><%= @deck.name %></h1>
    <ul>
      <% @cards.each do |card| %>
        <li><%=card.term %> | <em><%=card.definition %></em> [ <a href='/card/<%=card.id %>/edit'>Edit</a> | <a href='/card/<%=card.id %>/delete'>Delete</a> ]</li>
      <% end %>
    </ul>
  <p><a href='/deck/<%=@deck.id %>/edit'>Back to Deck</a></p>
</div>
