<div class="container">
  <h1><%= @deck.name %></h1>
    <ul>
      <% @cards.each do |card| %>
        <li><strong><%=card.definition %></strong>: <em><%=card.term %></em> [ <a href='/deck/<%=@deck.id %>/card/<%=card.id %>/edit'>Edit</a> | <a href='/deck/<%=@deck.id %>/card/<%=card.id %>/delete'>Delete</a> ]</li>
      <% end %>
    </ul>
  <p><a href='/decks'>Back to Decks</a></p>
</div>
